<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 1. Permiso de INTERNET (Solo se pone una vez, aquí está bien) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 2. Etiqueta de aplicación (Solo hay una) -->
    <application
        android:name=".LevelUpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Levelup"
        tools:targetApi="31">  <!-- Se movió "tools:targetApi" aquí, que es su lugar correcto -->

        <!-- 3. Tu actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Levelup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
